<div class="body-container">
  <div data-controller="crew">
    <div class="d-flex align-items-center mb-3">
      <h1 class="me-3"><%= @crew.name.upcase %></h1>
      <%= link_to "BACK TO DASHBOARD", tour_path(@tour.id), class:"button-green" %>
    </div>
    <div class="row justify-content-between">
      <div class="col-4  me-3">
        <div class="container-white">
          <h2>SEARCH</h2>
          <%= form_tag(assign_users_crew_path(@crew), method: :post) do %>
            <div>
              <input data-crew-target="searchInput" type="text" id="crew-search" placeholder="Search crew" data-action="input->crew#search" class="form-input">
              <div data-crew-target="results"></div>
              <%= select_tag "user_ids[]", options_for_select(@users.map {
                |user| [ "#{user.first_name} #{user.last_name} #{image_tag(user.image, alt: user.full_name) if user.image.attached?}", user.id]
                },
                params[:user_ids]),
                multiple: true,
                data: { crew_target: "selectUsers" },
                class: "d-none result-crew-search" %>

            </div>
            <%= submit_tag "ADD TO CREW",  class: "button-green mt-3"%>
          <% end %>
        </div>

      </div>
      <div class="col-7">
        <div class="container-white">
          <div class="box-shadow-bottom d-flex align-items-center justify-content-between">
            <h2>CREW MEMBERS</h2>
            <p class="m-0">Assign a role</>
          </div>
          <div class="listtoggle">
            <ul class="list-unstyled">
              <% @crew_users.each_with_index do |crew_user, index|%>
                  <% member = User.find(crew_user[:user_id]) %>

                  <li>
                    <div class="list-crew-members d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">

                          <%= link_to raw('<i class="fas fa-times-circle green-cross-delete me-3"></i>'), unassign_user_crew_path(@crew, crew_user.user), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
                          <div>
                            <%= image_tag(member.image, class: "avatar me-3") if member.image.attached? %>
                            <% unless member.image.attached? %>
                              <%= image_tag "profile.png", class: "avatar me-3" %>
                            <% end %>
                          </div>
                          <div><p><%= crew_user.user.first_name %> <%= crew_user.user.last_name %></p></div>


                      </div>

                      <div class="crew-role-delete d-flex align-items-center">

                          <div class="d-flex align-items-center me-3">
                            <strong data-crew-target="crewuserrole<%= index %>"><p><%= crew_user.role %></p></strong>
                          </div>
                          <div class="margin-bot-seven d-flex align-items-center" data-crew-target="divplusorminus<%= index %>">
                            <% if crew_user.role.nil? %>
                              <a href="#" data-action="click->crew#openModal"  data-index="<%= index %>"><i class="fas fa-plus open-plus-icon"></i></a>
                            <% else %>
                              <%= link_to raw('<i class="fa-solid fa-minus open-plus-icon"></i>'), "#", data: {action: "click->crew#updateRole", url: url_for(update_role_in_crew_member_crew_path(@crew, crew_user.user_id)), index: index,  confirmMessage: "Are you sure?" } %>
                            <% end %>
                          </div>
                          <div data-crew-target="role<%= index %>" class="d-none" data-index="<%= index %>" >
                            <%= form_tag(assign_users_role_crew_path(@crew, crew_user.user_id), method: :put, data: { crew_target: "form#{index}" }) do %>
                              <div class="d-flex align-items-center">
                                <%= text_field_tag "role", nil, placeholder: "Role in team", class: "form-input-black-short me-3" %>
                                <%= submit_tag "NEW ROLE", class: "button-green", data: { action: "click->crew#closeModal", index: index, crew_target: "submit#{index}"  } %>
                              </div>
                            <% end %>
                          </div>

                      </div>
                    </div>
                  </li>

              <% end %>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-white mt-3">
    <p class="m-0">
      <i class="fa-solid fa-circle-info me-3"></i>
      Your Crew refers to the main team of the show, it will be automatically be assigned to all your shows.
    </p>
  </div>
</div>


<%#  %>
