<div class="homepage-container">
  <div class="mb-3">
    <h1>FORGOT YOUR PASSWORD?</h1>
  </div>
  <div class="col-6">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class:"form-input" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "SEND ME PASSWORD INSTRUCTIONS", class: "button-green" %>
      </div>
    <% end %>

    <%= render "tourmen/shared/links" %>
  </div>
</div>
