<div class="side-bar-container">
  <div class="side-bar-home ">

       <%= image_tag "logo.png", class: "sidebar-logo" %>


  </div>
  <div class="side-bar-menu">
    <strong>
      <div class="mb-3 d-flex align-items-center justify-content-between"> <span class="text-white">TOURS</span>  <%= link_to "+", new_tour_path, class:" ms-2 button-plus" %></div>
    </strong>
    <div class="side-bar-tour mb-3">
      <% @tours.each do |tour| %>
        <li class="list-unstyled">
          <%= link_to tour_path(tour) do %>
            <div class="side-bar-tour-card col-5">
              <div class="side-bar-tour-card-img">
                <%= image_tag(tour.picture) if tour.picture.attached? %>
                <% unless tour.picture.attached? %>
                  <%= image_tag "https://static.vecteezy.com/ti/gratis-vector/p3/7319933-black-avatar-person-icons-user-profile-icon-vector.jpg", class: "avatar" %>
                <% end %>
              </div>
              <div class="side-bar-tour-card-content d-flex align-items-center">
                <span><h2><%= tour.artist.upcase %></h2> <h3><%= tour.title.upcase%></h3></span>
              </div>

            </div>
          <% end %>
        </li>
      <% end %>
    </div>
    <strong>
      <div class="mb-3 d-flex align-items-center justify-content-between">
        <div id="templates-sidebar-screens">
          <span class="text-white">TEMPLATES</span>
        </div>
        <div id="templates-sidebar-phones">
          <span class="text-white"><i class="fa-solid fa-paintbrush"></i></span>
        </div>
        <%= link_to "+", new_concert_template_path, class:" ms-2 button-plus" %>
      </div>
    </strong>
    <div class="templates_list mb-3">
      <% @concert_templates.each do |concert_template| %>
        <li class="list-unstyled ">
          <%= link_to concert_template_path(concert_template) do %>
              <div class="templates_items">
                <span><p class="m-0"><%= concert_template.name.upcase %></p> </span>
              </div>
          <% end %>
        </li>
      <% end %>
    </div>
    <strong>
      <div class="mb-3 d-flex align-items-center justify-content-between">
        <%= link_to hotels_path do %>
          <span class="text-white">HOTELS</span>
        <% end %>
      </div>
    </strong>
    <strong>
      <div class="mb-3 d-flex align-items-center justify-content-between">
        <%= link_to venues_path do %>
          <span class="text-white">VENUES</span> </div>
        <% end %>
    </strong>
  </div>
</div>
