<div class="body-container">


  <div class="d-flex justify-content-between">
    <div class="d-flex mb-4 tour-titles col-7">
      <div class="me-5">
        <h1><%= @tour.title.upcase %></h1>
        <h2><%= @tour.artist.upcase%></h2>
      </div>
      <div class="tour-card-img-square ms-2">
        <%= image_tag(@tour.picture) if @tour.picture.attached? %>
        <% unless @tour.picture.attached? %>
        <%= image_tag "https://static.vecteezy.com/ti/gratis-vector/p3/7319933-black-avatar-person-icons-user-profile-icon-vector.jpg", class: "avatar" %>
        <% end %>
      </div>
    </div>
    <div class="container-transparent col-4 ms-5">
      <li class="list-unstyled d-flex align-items-center ms-5"><div class="red-circle ms-5"></div><p class="m-0"> Not started</p></li>
      <li class="list-unstyled d-flex align-items-center ms-5"><div class="orange-circle ms-5"></div><p class="m-0"> Work in progress</p></li>
      <li class="list-unstyled d-flex align-items-center ms-5"><div class="green-circle ms-5"></div><p class="m-0"> All good</p></li>
      <li class="list-unstyled d-flex align-items-center ms-5"> <div class="grey-circle ms-5"></div><p class="m-0">Past</p> </li>
    </div>

  </div>



  <div class="container-transparent" data-controller="dashboard" >
    <div id="calendar-container" data-dashboard-target="calendar" data-concert-dates="<%= @concert_dates.to_json %>" data-concert-index="<%= @concert_index.to_json%>" data-tour-index="<%= @tour.id.to_json%>" data-concert-status="<%= @concert_status.to_json%>">
      <div id="calendar" ></div>
    </div>
  </div>
  <div class="container-transparent  mt-4" data-controller="flatpickr" >

    <div class="col-8 m-auto">

      <%= form_for [@tour, Concert.new] do |f| %>
          <div class="d-flex ">

            <%= f.date_field :date, label: false, placeholder: "Date", class: 'form-input me-4'  %>


            <%= f.text_field :location, label: false, placeholder: "Ville", class: "form-input"%>


            <%= f.text_field :name, label: false, placeholder: "Salle", class: "form-input ms-4" %>

            <%= f.submit "CREATE SHOW", class: "button-green ms-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>
