<h2><%= @tour.title %></h2>
<p><%= @tour.artist%></p>
<p><%= @tour.genre %></p>


<h2>Crew <%= link_to "Edit Crew", crew_path(@crew) %></h2>
<ul>
  <% @crew_users.each do |member| %>
    <li><%= member.first_name %> - <%= member.user_role_in_team(@crew, member)%> </li>
  <% end %>
</ul>





<% if policy(@tour).edit? %>
  <%= link_to "Edit this tour", edit_tour_path(@tour) %>
<% end %>
<%= button_to "Destroy this tour", @tour, method: :delete if policy(@tour).destroy?%>
