<h2><%= @tour.title %></h2>
<p><%= @tour.artist%></p>
<p><%= @tour.genre %></p>





<% if policy(@tour).edit? %>
  <%= link_to "Edit this tour", edit_tour_path(@tour) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this tour", @tour, method: :delete if policy(@tour).destroy?%>
