<div class="col-12 container-white mb-2">
  <h2>TRANSPORTS</h2>
  <% if !@concert.transports.present? %>
    <p>No transports for this show</p>
  <% else %>
    <% @user_transports.each_with_index do |transport, index| %>
      <div class="mb-3">
        <div class="d-flex align-items-center transport-slot">
          <div class="me-4">
            <% emoji = case transport.way_of_transport %>
              <%when "Train" then "ðŸš‚" %>
              <%when "Bus" then "ðŸšŒ" %>
              <%when "Car" then "ðŸš™" %>
              <%when "Van" then "ðŸš" %>
              <%when "Flight" then "âœˆï¸" %>
              <%when "Trailer" then "ðŸš›"%>
              <%when "Other" then "ðŸš€" %>
              <%else "" %>
            <% end %>
            <div class="emoji-round-white"><p class="m-0"><%= emoji %></p></div>
          </div>
          <div class="me-4 transport-infos">
            <div>
              <p class="m-0"><b>Depart:</b> <%= transport.time_of_depart.strftime("%H:%M") %></p>
              <p class="m-0"><b>From: </b> <%= transport.place_of_depart %></p>
            </div>
            <div>
              <p class="m-0"><b>Arrival:</b> <%= transport.time_of_arrival.strftime("%H:%M")%></p>
              <p class="m-0"> <b>To: </b><%= transport.place_of_arrival %></p>
            </div>
          </div>
          <div class="me-4 d-flex align-items-center">
            <div class="me-2">
              <p class="m-0"><b>Travelling</b>:</p>
            </div>
            <div class="d-flex align-items-center list-toggle-user-transports me-2">
              <% transport.users.each do |user| %>
                <%= image_tag(user.image, class: "avatar me-1") if user.image.attached? %>
                <% unless user.image.attached? %>
                  <%= image_tag "https://static.vecteezy.com/ti/gratis-vector/p3/7319933-black-avatar-person-icons-user-profile-icon-vector.jpg", class: "avatar me-1" %>
                <% end %>
              <% end %>
            </div>
            <div class="ms-2">
              <div class="d-flex align-items-center justify-content-between">
                <a href="#" data-action="click->user-concert#openModalTransportAttachments" data-index="<%= index %>"  class="button-green"> ATTACHMENTS </a>
              </div>
              <div class="modal-user-transport-attachments" data-user-concert-target="modalusertransportattachments<%= index %>">
                <div class="modal-user-transport-attachments-content d-flex justify-content-center">
                  <span class="close-contert-modal " data-action="click->user-concert#closeModalTransportAttachments" data-index="<%= index %>"><i class="fas fa-times black-icon"></i></span>
                    <% user_attachments = transport.transport_users.select {|transport_user| transport_user.user_id == current_user.id} %>
                      <div class="col-7">
                        <% user_attachments.first.files.each do |file| %>
                          <p class="attachment-file mb-2">
                            <%= link_to file.filename, rails_blob_path(file, disposition: 'attachment'), target: '_blank' %>
                          </p>
                        <% end %>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
