<div class="body-large-container">
  <div class="d-flex justify-content-between">
    <div class="col-6">
      <h1 class="mb-3">HELLO <%= current_user.first_name.upcase %></h1>
      <h2>TODAY SHOW</h2>
    </div>
    <div class="col-5 ">
      <h2>UPCOMING SHOWS</h2>
      <div class=" container-white list-toggle-user-concerts">
        <% @concerts.each do |concert| %>
          <div class="tour-card col-5">
            <% tour = Tour.find(concert.tour_id) %>
            <div class="tour-card-img">
              <%= image_tag(tour.picture) if tour.picture.attached? %>
              <% unless tour.picture.attached? %>
                <%= image_tag "https://static.vecteezy.com/ti/gratis-vector/p3/7319933-black-avatar-person-icons-user-profile-icon-vector.jpg", class: "avatar" %>
              <% end %>
            </div>
            <div class="tour-card-content">
              <h2><%= tour.artist.upcase %></h2> <h3><%= tour.title.upcase%></h3>
              <p><%= concert.name.upcase %> - <%= concert.location.upcase %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>



</div>
