
<div class="body-container">
  <div class="d-flex align-items-center mb-4">
    <h2 class="m-0"><%= @venue.name.upcase %> </h2>
     <%= link_to "DELETE", venue_path(@venue),  data: { turbo_method: :delete,  turbo_confirm: 'Are you sure?' }, class: "button-delete ms-3" %>
  </div>

  <%= simple_form_for(@venue) do |f| %>

    <%= f.input :name,
        autofocus: true,
        label: false,
        placeholder: "Venue Name",
        input_html: { class: 'form-input' }  %>


    <%= f.input :address,
        autofocus: true,
        label: false,
        placeholder: "Address",
        input_html: { class: 'form-input' }  %>


    <%= f.input :postcode,
        autofocus: true,
        label: false,
        placeholder: "Post Code",
        input_html: { class: 'form-input' }  %>


    <%= f.input :city,
        autofocus: true,
        label: false,
        placeholder: "City",
        input_html: { class: 'form-input' }  %>


    <%= f.input :country,
        autofocus: true,
        label: false,
        prompt: "Select a country",
        input_html: { class: 'form-input' } %>

    <%= f.input :capacity,
        autofocus: true,
        label: false,
        placeholder: "Capacity",
        input_html: { class: 'form-input' }  %>

    <%= f.input :files, as: :file,
        label: "Upload technical sheet:",

        prompt: "Attachements",
        input_html: { class: 'form-input form-file-upload', onchange: 'updateFileName(this)',  multiple: true } %>

    <%= f.submit "UPDATE VENUE", class:"button-green" %>
  <% end %>
</div>
