
  <span class="close-contert-modal " data-action="click->concert#closeModalGuest"><i class="fas fa-times black-icon"></i></span>
  <div class="d-flex mt-2">
    <div class="col-6">
    <div class="text-center mb-2">
      <h2>ADD A TEAM MEMBER</h2>
    </div>

    <%= form_with(url: tour_concert_crew_user_concerts_path(@tour, @concert, @crew_user_concert), local: true, data: { remote: true }) do |form| %>
      <div class="d-flex align-items-center justify-content-center ">
        <div class="col-6 me-2">
          <%= form.collection_select(:user_id, @crew.users, :id, :full_name, { prompt: 'Select Crew member' }, { class: 'form-input mb-2 p-1 me-2' }) %>
        </div>
        <div class="text-center">
          <%= form.button 'ADD', type: :submit, class: 'button-green mb-2'%>
        </div>
      </div>
    <% end %>


    </div>
    <div class="col-6">
      <div class="text-center mb-2">
        <h2>ADD A GUEST FOR THIS SHOW</h2>
      </div>

      <%= simple_form_for [@tour, @concert, @guest] do |f| %>
        <%= f.input :first_name, label: false, placeholder: "First Name", input_html: {class: 'form-input' }%>
        <%= f.input :last_name, label: false, placeholder: "Last name", input_html: {class: 'form-input' }%>
        <%= f.input :role, label: false, placeholder: "Role(s)",input_html: {class: 'form-input' }%>
        <%= f.input :email,label: false, placeholder: "Email", input_html: {class: 'form-input' }%>
        <div class="d-flex justify-content-around">
          <%= f.input :country_code, collection: @phoneprefixsorted,  label: false, prompt: "+", input_html: { class: 'form-input' } %>
          <%= f.input :phone_number, label: false, input_html: {class: 'form-input' }, placeholder: "Phone Number"%>
        </div>
        <div class="text-center">
          <%= f.submit "ADD GUEST", class:"button-green" %>
        </div>
      <% end %>
    </div>
  </div>
