<span class="close-contert-modal " data-action="click->concert#closeModalTransport"><i class="fas fa-times black-icon"></i></span>
  <div class="mt-2">
    <%= simple_form_for [@tour, @concert, @transport] do |f| %>
      <%= f.input :way_of_transport, collection: Transport::WAY_OF_TRANSPORT_OPTIONS, prompt: 'Select Way of Transport', label: false, placeholder: "Transport mode", input_html: {class: 'form-input' }%>
      <div class="d-flex justify-content-between">
        <div class="col-4">
          <%= f.input :time_of_depart, as: :time, label: false, placeholder: "Time of departure", input_html: {class: 'form-input' }%>
        </div>
        <div class="col-7">
          <%= f.input :place_of_depart, label: false, placeholder: "Place of departure", input_html: {class: 'form-input' }%>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="col-4">
          <%= f.input :time_of_arrival,  as: :time, label: false, placeholder: "Time of arrival", input_html: {class: 'form-input' }%>
        </div>
        <div class="col-7">
          <%= f.input :place_of_arrival, label: false, placeholder: "Place of arrival", input_html: {class: 'form-input' }%>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit "NEW TRANSPORT", class:"button-green" %>
      </div>
    <% end %>
  </div>
