<div class="mb-3">
  <div class="d-flex align-items-center transport-slot">
    <div class="me-4">
      <% emoji = case transport.way_of_transport %>
        <%when "Train" then "🚂" %>
        <%when "Bus" then "🚌" %>
        <%when "Car" then "🚙" %>
        <%when "Van" then "🚐" %>
        <%when "Flight" then "✈️" %>
        <%when "Trailer" then "🚛"%>
        <%when "Other" then "🚀" %>
        <%else "" %>
      <% end %>
      <div class="emoji-round-white"><p class="m-0"><%= emoji %></p></div>
    </div>
    <div class="me-4 transport-infos">
      <div>
        <p class="m-0"><b>Depart:</b> <%= transport.time_of_depart.strftime("%H:%M") %></p>
        <p class="m-0"><b>From: </b> <%= transport.place_of_depart %></p>
      </div>
      <div>
        <p class="m-0"><b>Arrival:</b> <%= transport.time_of_arrival.strftime("%H:%M")%></p>
        <p class="m-0"> <b>To: </b><%= transport.place_of_arrival %></p>
      </div>
    </div>
    <div class="me-4 d-flex align-items-center">
      <a href="#" data-action="click->concert#openModalTransportUser" data-index="<%= index %>"  class="button-green"> CREW </a>
    </div>
    <div class="me-4 d-flex align-items-center">
      <a href="#" data-action="click->concert#openModalTransportAttachments" data-index="<%= index %>"  class="button-green"> ATTACHMENTS </a>
    </div>
    <div class="me-4 transports-emoji-links">
      <a href="#" data-action="click->concert#openModalTransportNotes" data-index="<%= index %>" > 📝 </a>
    </div>
    <div class="me-4 transports-emoji-links">
      <%= link_to raw('<i class="fa-solid fa-minus open-plus-icon"></i>'),tour_concert_transport_path(@tour, @concert, transport),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
  </div>

</div>

<div class="modal-new-transport-user" data-concert-target="modaltransportuser<%= index %>">
  <div class="modal-new-transport-user-content">
    <div class="text-center mb-3"><p class="m-0">TRAVELLING</p></div>
    <div class="d-flex transport-slot-users align-items-center justify-content-center">
      <% transport.transport_users.each do |transportuser| %>
        <% user = User.find(transportuser.user_id) %>
        <div class="mb-2 me-2 mt-2 avatar-delete">
          <%= image_tag(user.image, class: "avatar ms-1 me-1 avatar-title ", title: user.full_name ) if user.image.attached? %>
          <% unless user.image.attached? %>
            <%=image_tag "profile.png", class: "avatar ms-1 me-1 avatar-title ", title: user.full_name   %>
          <% end %>
          <div class="delete-icon-avatar">
            <%= link_to raw('<i class="fa-solid fa-minus open-plus-icon"></i>'), tour_concert_transport_transport_user_path(@tour, @concert, transport, transportuser),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </div>
        </div>
      <% end %>
    </div>
    <span class="close-contert-modal " data-action="click->concert#closeModalTransportUser" data-index="<%= index %>"><i class="fas fa-times black-icon"></i></span>
    <div class="d-flex justify-content-center">
      <div class="mt-4 col-6 text-center">
        <%= simple_form_for [@tour, @concert, transport, @transport_user] do |f| %>

          <%= f.input :user_id, collection: @users_on_this_concert, label: false, prompt:'Select Crew User',  label_method: :full_name, value_method: :id, input_html: {class: 'form-input' } %>
          <%= f.button :submit, 'ADD CREW MEMBER', class: 'button-green' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal-new-transport-attachments" data-concert-target="modaltransportattachments<%= index %>">
  <div class="modal-new-transport-attachments-content">
    <span class="close-contert-modal " data-action="click->concert#closeModalTransportAttachments" data-index="<%= index %>"><i class="fas fa-times black-icon"></i></span>
        <% transport.transport_users.each do |transportuser| %>
          <% user = User.find(transportuser.user_id) %>
          <div class="mb-2 me-2 mt-2 d-flex align-items-center">
            <div>
              <%= image_tag(user.image, class: "avatar mb-3 me-3 avatar-title ", title: user.full_name ) if user.image.attached? %>
              <% unless user.image.attached? %>
                <%=image_tag "profile.png", class: "avatar mb-3 me-3 avatar-title ", title: user.full_name   %>
              <% end %>
            </div>
            <div class="col-7">
              <%= simple_form_for([@tour, @concert, transport, transportuser])  do |f| %>
                <div class="d-flex align-items-center">
                  <%= f.input :files, as: :file,
                      label: false,
                      prompt: "Attachements",
                      input_html: { class: 'form-input', onchange: 'updateFileName(this)', multiple: true } %>
                  <%= f.submit "UPLOAD", class:"button-green mb-3 ms-3 me-3" %>
                </div>
              <% end %>
            </div>
            <div class="col-3 d-flex align-items-center mb-3">
              <% transportuser.files.each do |file| %>
                <p class="attachment-file">
                  <%= link_to file.filename, rails_blob_path(file, disposition: 'attachment'), target: '_blank' %>
                  <%= link_to raw('<i class="fas fa-times-circle green-cross-delete me-3"></i>'), destroy_attachment_tour_concert_transport_transport_user_path(@tour, @concert, transport, transportuser, attachment_id: file.id), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
</div>

<div class="modal-new-transport-notes" data-concert-target="modaltransportnotes<%= index %>">
  <div class="modal-new-transport-notes-content">
    <span class="close-contert-modal " data-action="click->concert#closeModalTransportNotes" data-index="<%= index %>"><i class="fas fa-times black-icon"></i></span>
      <%= simple_form_for [@tour, @concert, transport] do |f| %>
          <%= f.input :notes, as: :text, label: false, placeholder: "Notes", input_html: {class: 'form-input' }%>

        <div class="text-center">
          <%= f.submit "UPDATE NOTES", class:"button-green" %>
        </div>
      <% end %>
  </div>
</div>
