<div class="body-container" data-controller="concert">
  <div class="d-flex justify-content-between">
    <div class="col-7">
      <div class=" col-12 mb-4 tour-titles">
        <h1><%= @concert.name.upcase %></h1>
        <h2><%= @concert.date.strftime("%b %d %Y").upcase %></h2>
        <%= link_to "BACK TO DASHBOARD", tour_path(@tour.id), class: 'button-green'  %>
        <%= link_to "GENERATE PDF", generate_pdf_path(@concert.id,
                    format: :pdf,
                    tour: @tour,
                    venue: @concert.venue,
                    crew: @crew_users.to_json,
                    contacts: @contacts.to_json,
                    timetable: @timetable_entries.to_json),
                    class: "button-green",
                    target: "_blank"  %>

        <a href="#" data-action="click->concert#openModalTemplate" class="button-green" >GENERATE TEMPLATE</a>
        <div class="modal-new-template" data-concert-target="modaltemplate">
          <div class="modal-new-template-content">
            <%= render partial: 'modal_new_template' %>
          </div>
        </div>
      </div>
      <%= render partial: 'venue', locals: { tour: @tour, concert: @concert } %>
      <div class="d-flex justify-content-between mb-2">
        <%= render partial: 'crew', locals: { tour: @tour, concert: @concert, guests: @guests, crew_users: @crew_users, crew: @crew, phoneprefixsorted: @phoneprefixsorted } %>
        <%= render partial: 'contacts', locals: { tour: @tour, concert: @concert, contacts: @contacts, phoneprefixsorted: @phoneprefixsorted } %>
      </div>
      <%= render partial: 'transport', locals: { tour: @tour, concert: @concert } %>
      <div class="">
        <div style="width: 100%; height: 350px;  border-radius: 10px;"
        data-controller="concertmap"
        data-concertmap-venuemarkers-value="<%= @venue_markers.to_json %>"
        data-concertmap-hotelmarkers-value="<%= @hotel_markers.to_json %>"
        data-concertmap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
    </div>
    <div class="col-5 ms-2">
      <%= render partial: 'timetable', locals: { tour: @tour, concert: @concert, timeentry: @timeentry, timetable_entries: @timetable_entries } %>
      <%= render partial: 'hotels', locals: { tour: @tour, concert: @concert} %>
      <%= render partial: 'notes', locals: { tour: @tour, concert: @concert, note: @note, notes: @notes} %>
      <%= render partial: 'checkboxes', locals: { tour: @tour, concert: @concert, checklist: @checklist, checklists: @checklists, checklist_template: @checklist_template } %>
    </div>
  </div>

</div>
