
<div class="body-container">

  <h2 class="mb-3">NEW HOTEL</h2>


  <%= simple_form_for(@hotel) do |f| %>

    <%= f.input :name,
        label: false,
        placeholder: "Hotel Name",
        input_html: { class: 'form-input' }  %>


    <%= f.input :address,
        label: false,
        placeholder: "Address",
        input_html: { class: 'form-input' } %>

    <%= f.input :postcode,
        label: false,
        placeholder: "Post Code",
        input_html: { class: 'form-input' } %>


    <%= f.input :city,
        label: false,
        placeholder: "City",
        input_html: { class: 'form-input' }
     %>


    <%= f.input :country,
        label: false,
        prompt: "Select a country",
        input_html: { class: 'form-input' }  %>


    <%= f.input :standing,
        label: false,
        placeholder: "Standing",
        input_html: { class: 'form-input' } %>

    <%= f.submit "NEW HOTEL", class:"button-green" %>
  <% end %>

</div>
