<!DOCTYPE html>
<html>
  <head>
    <title>Simplertour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Cormorant+Garamond:ital@1&family=Lilita+One&family=Pacifico&family=Poppins:wght@200;400;500;700;800&family=Raleway:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= csrf_meta_tags %><!-- generate token-->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="custom-blur-circle">
      <div data-controller="navbar">
        <%= render "shared/navbar" %>
        <!-- Modal container (outside of the navbar) -->
          <div id="myModal" class="modal" data-navbar-target="modal">
            <div class="modal-navbar-content">
              <span class="close" data-action="click->navbar#closeModal"><i class="fas fa-times black-icon"></i></span>


                  <%= link_to "LOGIN AS A TOUR MANAGER", new_tourman_session_path, class: "button-green" %>
                  <%= link_to "LOGIN AS A CREW MEMBER", new_user_session_path, class: "button-green" %>


            </div>
          </div>
      </div>
      <div>
        <% if tourman_signed_in? && controller_name != 'pages_controller' && action_name != 'home' && controller_name != 'registrations_controller' %>
          <%= render "sidebar/tourman_sidebar" %>
        <% elsif user_signed_in? && controller_name != 'pages_controller' && action_name != 'home' && controller_name != 'registrations_controller' %>
          <%= render "sidebar/user_sidebar" %>
        <% end %>
      </div>
      <%= yield %>
      <%= render "shared/flashes" %>
    </section>
  </body>
</html>
